.container {
  padding-top: 50px;
  min-height: 500px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 50px;
  color: rgb(15, 84, 141);
}

.faq {
  position: relative;
  max-width: 350px;
  min-height: 120px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 24px 40px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 1rem;
  gap: 1rem;
}

.faq p {
  width: 80%;
}

.a {
  display: flex;
  flex-flow: column nowrap;
}

li {
  margin-top: 0.5rem;
}

.arrow {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  width: 1.8rem;
  height: 1.8rem;
  filter: opacity(0.8);
  color: rgb(122, 80, 156);
}

.line {
  position: relative;
  width: 0;
  height: 1px;
  margin-top: 1rem;
}

.line::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  right: 50%;
  background-color: rgb(190, 190, 190);
  animation: lineAnimate 0.5s ease-in-out forwards;
}
.line::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  left: 50%;
  background-color: rgb(190, 190, 190);
  animation: lineAnimate 0.5s ease-in-out forwards;
}

@keyframes lineAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}
