.inner {
  max-width: 90%;
  min-height: 600px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  gap: 2rem;
  padding: 100px 0;
}

.faq {
  position: relative;
  min-width: 350px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 40px 40px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 1rem;
  gap: 1rem;
  color: rgb(15, 84, 141);
}

.q {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.q span {
  width: 80%;
}
.arrow {
  color: rgba(122, 80, 156, 0.8);
}

.a {
  display: flex;
  flex-flow: column nowrap;
}

li {
  margin-top: 0.5rem;
}

.lines {
  position: relative;
  height: 1px;
}

.line {
  width: 0;
  height: 1px;
  position: absolute;
  right: 50%;
  background-color: rgb(190, 190, 190);
  animation: lineAnimate 0.5s ease-in-out forwards;
}
.lines .line:nth-child(1) {
  left: 50%;
}

@keyframes lineAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@media screen and (min-width: 1144px) {
  .inner {
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1144px;
  }

  .faq {
    width: 350px;
    min-height: 120px;
    padding: 24px 40px;
    flex: 0;
  }
}
