.productDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  height: auto;
  width: 250px;
  background-color: #9478a7;
  color: white;
  padding-bottom: 25px;
}

.productTextDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.productName {
  font-weight: 100;
}

.productDescription {
  font-weight: 500;
}

.productPrice {
  font-weight: 500;
}

.productImg {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  height: 150px;
  width: 250px;
}

.priceDiv {
  width: 200px;
  display: flex;
  gap: 10px;
  padding: 10px;
}

.likeButton {
  margin-left: -10px;
  font-size: 1.2rem;
  width: 30px;
}

.likeButton,
.cartButton {
  background-color: transparent;
  border: none;
  color: white;
}

.cartButton {
  border: 1px solid white;
  padding: 5px;
  border-radius: 10px;
  margin-left: 10px;
}

.cartButton:hover {
  background-color: white;
  color: #9478a7;
}

.cartDiv {
  width: 200px;
  display: flex;
  gap: 25px;
}

.productContentDiv {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartCount {
  font-size: 1.7rem;
  color: white;
  font-weight: 500;
}

.cartDiv {
  margin-left: 8px;
}

.discount {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 1rem;
  right: 1rem;
  background: #d7e6ec;
  color: #355674;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 2rem;
}
