.container{
    background-image: url("/heros/medlem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.inner{
    position: absolute;
    background: rgba(161, 59, 164, 0.577);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    text-align: center;
    position: relative;
    gap: 35px;
    padding: 50px 0;
}

.inner > h1{
    font-size: 4rem;
    font-weight: 300;
    color: white;
}

.inner > p{
    color: white;
    width: 80%;
    font-size: 1.2rem;
}