.container {
  width: 100%;
  height: 70px;
  background-color: #355674;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  position: absolute;
  z-index: 999;
}

