.container {
  background-color: #d7e6ec;
  color: #355674;
  padding: 8vh 0;
}

.inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 20px;
  max-width: 1144px;
  margin: 0 auto;
}

.inner > p {
  width: 80%;
  text-align: center;
}

.inner > h2 {
  font-size: 5rem;
  font-weight: 300;
}

.inner > button {
  width: 75%;
  background-color: #355674;
  color: #d7e6ec;
  border: none;
  height: 50px;
  border-radius: 25px;
  letter-spacing: 1px;
  margin: 20px 0;
}
